/* цвет заголовков #212121; */
/* цвет текста #757575; */
/* цвет фона: #FFFFFF; */
/* цвет лого #2196F3; и #000000; */
/* цвет навигации при наведении #2196F3; */
/* вторичный цвет фона футера и героя background: #2F303A; */
/* вторичный цвет фона секции 2 background: #F5F4FA; */
/* акцент #2196F3; */
/* вторичний цвет текста rgba(255, 255, 255, 0.6) */

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$background-color: #ffffff;
$background-color-1: #2f303a;
$background-color-2: #f5f4fa;
$secondary-text-color: rgba(255, 255, 255, 0.6);
